<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
<p>First Name: <input type="text" ng-model="fname"></p>
<p>Last  Name: <input type="text" ng-model="lname"></p>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.fname='Amanullah';
		$scope.lname='Aman';
	});
</script>
</body>
</html>
