<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
	<ul>
		<li ng-repeat="x in names">
			<h2>{{x.name}}</h2><sup>{{x.dist}}</sup>
		</li>
	</ul>
</div>

<script type="text/javascript" src="myCntrl.js"></script>
</body>
</html>
