<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS http request jason formate</p>
 <h1>{{alert}}</h1>
 <table border="1" width="100%">
 	<thead>
 		<th>Name</th>
 		<th>City</th>
 		<th>Country</th>
 	</thead>
 	<tbody>
 		<tr ng-repeat="x in myData">
 			<td>{{x.Name}}</td>
 			<td>{{x.City}}</td>
 			<td>{{x.Country}}</td>
 		</tr>
 	</tbody>
 	<tfoot>
 		<th>Name</th>
 		<th>City</th>
 		<th>Country</th>
 	</tfoot>

 </table>


</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope, $http){
		$http.post('http://www.w3schools.com/angular/customers.php').then(function(response){
			$scope.alert ="Data Found";
			$scope.myData = response.data.records;
			
		},function(response){
			$scope.alert = 'Not found';
		});
	});
</script>
</body>
</html>
