<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<title>Angular | ng-repeat object</title>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Select with ng-repeat object</p>
<select ng-model="selectedOption">
	<option value="">Select One</option>
	<option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
</select>
<h2>You Selected: {{selectedOption}}</h2>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.cars = [
        {model : "Ford Mustang", color : "red"},
        {model : "Fiat 500", color : "white"},
        {model : "Volvo XC90", color : "black"}
    ];
	});
</script>
</body>
</html>
