<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body style="background-color:{{color}}" ng-app="" ng-init="color='lightblue'">

<div >
 
<p>Expression can print anywhere</p>
<p>Name : <input style="background-color:{{color}}" type="text" value="{{color}}" ng-model="color" placeholder="Enter name here"></p>


</div>

</body>
</html>
