<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="quantity='5'; cost='30'; fname='Amanullah'; lname='Aman'; person={surname:'sujon',middlename:'MD'}; arr=[1,2,3,4,5,6]">
 
	<h1>Value with expressin and ng-bind</h1>
	<h3>Expression: {{quantity * cost}}</h3>
	<h3>NG-bind: <span ng-bind="quantity * cost"></span></h3>

	<h1>String with expressin and ng-bind</h1>
	<h3>Expression: {{fname +" "+ lname}}</h3>
	<h3>NG-bind: <span ng-bind="fname +' '+lname"></span></h3>
	<h1>Object</h1>
	<h3>Expression: {{person.surname +" "+ person.middlename}}</h3>
	<h3>NG-bind: <span ng-bind="person.surname +' '+person.middlename"></span></h3>
	<h1>Array</h1>
	<h3>Expression: {{arr[2]}}</h3>
	<h3>NG-bind: <span ng-bind="arr[5]"></span></h3>

</div>

</body>
</html>
