<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myapp" ng-controller="mycntrl" w3-test-directive>
	<h3>Creating module and adding congroller</h3>
	{{firstname+" "+lastname}}
</div>
<script type="text/javascript">
	var app =angular.module('myapp',[]);
	app.controller('mycntrl',function($scope){
		$scope.firstname = 'Amanullah';
		$scope.lastname = 'Aman';
	});
	app.directive('w3-test-directive',function(){
		return{
			template	: "I was made in a directive consturctor!"
		}
	});
</script>
</body>
</html>
