<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
 
<p>Angular js expression... add value from 2 input box</p>
<p>No1 : <input type="number" ng-model="no1" placeholder="Enter first number"></p>
<p>No2 : <input type="number" ng-model="no2" placeholder="Enter second number"></p>
<p>{{no1}} + {{no2}} = {{no1+no2}} </p>

</div>

</body>
</html>
