<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS $Interval service</p>
<h1>{{myHttp}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope,$http){
		$http.get('myPage.html').then(function(response){
			$scope.myHttp = response.name;
		});		
	});
</script>
</body>
</html>
