<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 <p>Angular JS Own service: named hexafi</p>
<h1>{{hex}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.service('hexafi',function(){
		this.myFunc = function(x){
			return x.toString(16);
		}
	});
	app.controller('myCntrl', function($scope, hexafi){
		$scope.hex = hexafi.myFunc(255);
	});
</script>
</body>
</html>
