<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="fname='Amanullah'; qnt=5;price='11.99'">
 
<p>Input something in the input box:</p>
<p>Name : <input type="text" ng-model="fname" placeholder="Enter name here"></p>
<h1>Hello {{fname}}</h1>
<h1 ng-bind="fname"></h1>

<p>Quantity : <input type="text" ng-model="qnt" placeholder="Enter name Qnt"></p>
<p>price : <input type="text" ng-model="price" placeholder="Enter name here"></p>
{{"Total Price: "+price*qnt}}

</div>

</body>
</html>
