<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="">
	<p>Write something in the text box.. and see this output under the box.</p>
	<p><input type="text" name="text" ng-model="name"></p>
	<p>Output is: {{name}}</p>
</div>

</body>
</html>
