<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntl">
<h1>{{name}}</h1>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntl',function($scope){$scope.name='Aman';});
</script>
</body>
</html>
