<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" >
<p>Scope and root scope</p>
<p>Root Scope Color: <h2 style="color:{{color}}">{{color}}</h2></p>
<div ng-controller="myCntl">
	<p>Scope controller's color: <h2 style="color:{{color}}">{{color}}</h2></p>
</div>
<p>Now Root Scopes Color: <h2 style="color:{{color}}">{{color}}</h2></p>
</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntl',function($scope){
		$scope.color= 'green';
	});

	app.run(function($rootScope){
		$rootScope.color="lightblue";
	});
</script>
</body>
</html>
