<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Angular JS Filter: filter Input</p>
<p><input type="text" ng-model="givenInput"></p>
<ul>
	<li ng-repeat="x in names | filter:givenInput">
		{{x}}
	</li>
</ul>

<input type="search" ng-model="tableSearch" placeholder="Search">

<table border="1" width="100%">
	<tr>
		<th>Name</th>
		<th>Dist</th>
		<th>Country</th>
	</tr>
	<tr ng-repeat="info in tables | filter:tableSearch">
		<td>{{info.name}}</td>
		<td>{{info.dist}}</td>
		<td>{{info.country}}</td>
	</tr>
	
</table>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.names = ['Aman','Sujon','Khan','Body','boka','Hasnat'];
		$scope.tables = [
        {name:'Jani', dist:'Thg', country:'Norway'},
        {name:'Hege', dist:'Thg1', country:'Sweden'},
        {name:'Kai', dist:'Th2', country:'Denmark'}
    ];
	});
</script>
</body>
</html>