<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCntrl">
 
<p>Angular JS Filter: filter</p>
<ul>
	<li ng-repeat="x in names | filter:'o'">
		{{x}}
	</li>
</ul>

</div>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.controller('myCntrl',function($scope){
		$scope.names = ['Aman','Sujon','Khan','Body','boka'];
	});
</script>
</body>
</html>
